
.main{

    max-width: 1400px;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}


.event-board {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid green;

}
#event-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.event {
    margin-bottom: 20px;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 10px;
}

#pagination {
    margin: 50px 50px;
}

#pagination button {
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.book-item{
    border: 1px solid gold;
}
